<h1>Builds</h1>

<ul>
  <% @builds.each do |build| %>
    <li>
        <%= link_to build.name, build %>
    </li>
    <li>
      <%= build.id_build %>
    </li>
    <li>
      <%= build.is_like %>
    </li>
  <% end %>
</ul>
<%= link_to "New Build", new_build_path %>
